---
Language: Cpp
Standard: c++20
BasedOnStyle: LLVM

UseTab: ForContinuationAndIndentation
IndentWidth: 4
TabWidth: 4
ContinuationIndentWidth: 4
ColumnLimit: 120

BreakBeforeBraces: Allman
AccessModifierOffset: -4
NamespaceIndentation: All
IndentCaseLabels: true
IndentPPDirectives: None

PointerAlignment: Left
ReferenceAlignment: Left
DerivePointerAlignment: false

AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: Never
AllowShortLambdasOnASingleLine: All

BreakConstructorInitializers: BeforeComma
PackConstructorInitializers: Never
AlwaysBreakTemplateDeclarations: Yes

SortIncludes: Never
IncludeBlocks: Preserve

SpaceAfterCStyleCast: false
SpaceBeforeParens: ControlStatements
Cpp11BracedListStyle: true
FixNamespaceComments: false
ReflowComments: false
MaxEmptyLinesToKeep: 1
...
